---
http:
  routers:
    traefik:
      entrypoints: [{{ traefik_https | ternary('websecure', 'web') }}]
      rule: {% if traefik_dashboard_fqdn | length > 0 %}"Host(`{{ traefik_dashboard_fqdn }}`)"
            {% else %}"PathPrefix(`/api`) || PathPrefix(`/dashboard`)"
            {% endif %}
      service: api@internal
      middlewares:
        - dashboard-auth-basic@file
        - dashboard-rate-limit@file
        - dashboard-secure-headers@file
      {% if traefik_https %}
      tls:
        {% if traefik_acme %}
        certResolver: letsEncrypt
        {% endif %}
        domains:
          - main: {{ traefik_dashboard_fqdn }}
      {% endif %}

  middlewares:
    dashboard-auth-basic:
      basicAuth:
        headerField: X-WebAuth-User
        users:
          - "{{ traefik_dashboard_user }}:{{ traefik_dashboard_pass | password_hash('bcrypt', traefik_salt) }}"

    dashboard-rate-limit:
      rateLimit:
        average: 100
        burst: 50

    dashboard-secure-headers:
      headers:
        accessControlAllowMethods:
          - GET
          - OPTIONS
          - POST
          - PUT
        accessControlMaxAge: 100
        addVaryHeader: true
        browserXssFilter: {{ traefik_headers_browser_xss_filter | to_json }}
        customResponseHeaders:
          X-Robots-Tag: "none,noarchive,nosnippet,notranslate,noimageindex,noindex"
          server: ""
        contentSecurityPolicy: "frame-ancestors 'self';"
        contentTypeNosniff: {{ traefik_headers_content_type_nosniff | to_json }}
        forceSTSHeader: {{ traefik_headers_sts_force | to_json }}
        frameDeny: {{ traefik_headers_frame_deny | to_json }}
        hostsProxyHeaders:
          - X-Forwarded-Host
        referrerPolicy: "{{ traefik_headers_referrer_policy }}"
        sslRedirect: {{ traefik_headers_ssl_redirect | to_json }}
        stsIncludeSubdomains: {{ traefik_headers_sts_subdomains | to_json }}
        stsPreload: {{ traefik_headers_sts_preload | to_json }}
        stsSeconds: {{ traefik_headers_sts_seconds }}
