---
global:
  checkNewVersion: {{ traefik_check_new_version | to_json }}
  sendAnonymousUsage: {{ traefik_send_usage | to_json }}

serversTransport:
  insecureSkipVerify: {{ traefik_https_skipVerify | to_json }}

entryPoints:
  web:
    address: :80
{% if traefik_forwarded_headers_ips | length > 0 %}
    forwardedHeaders:
      insecure: {{ traefik_forwarded_headers_insecure | to_json }}
      trustedIPs: {{ traefik_forwarded_headers_ips | to_json }}
{% endif %}

{% if traefik_https %}
{%   if traefik_https_redirect %}
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
{%   endif %}

  websecure:
    address: :443
{%   if traefik_forwarded_headers_ips | length > 0 %}
    forwardedHeaders:
      insecure: {{ traefik_forwarded_headers_insecure | to_json }}
      trustedIPs: {{ traefik_forwarded_headers_ips | to_json }}
{%   endif %}
    http:
      tls: { }
{% endif %}

log:
  level: {{ traefik_log_level }}
  format: {{ traefik_log_format }}

{% if traefik_log_access %}
accessLog:
  format: {{ traefik_log_format }}

{% endif %}
api:
  insecure: {{ traefik_dashboard_insecure | to_json }}
  dashboard: {{ (traefik_dashboard_insecure or traefik_dashboard) | to_json }}

providers:
  docker:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: {{ traefik_docker_default_expose | to_json }}

  file:
    directory: /etc/traefik/conf.d
    watch: true

{% if traefik_acme | bool %}
certificatesResolvers:
  letsEncrypt:
    acme:
      email: {{ traefik_acme_email }}
      storage: /etc/traefik/acme.json
{%   if traefik_acme_server | length > 0 %}
      caServer: {{ traefik_acme_server }}
{%   endif %}
{%   if traefik_acme_challenge == 'dns' %}
      dnsChallenge:
        provider: {{ traefik_acme_dns_provider }}
        resolvers: {{ traefik_acme_dns_resolvers | to_json }}
        delayBeforeCheck: 10
        disablepropagationcheck: {{ traefik_acme_dns_disablepropagationcheck | to_json }}
{%   elif traefik_acme_challenge == 'tls' %}
      tlsChallenge: {}
{%   elif traefik_acme_challenge == 'http' %}
      httpChallenge:
        entryPoint: web
{%   endif %}
{%   if traefik_additional_resolvers | length > 0 %}
{%     for domain in traefik_additional_resolvers %}

  {{ domain.name }}:
    acme:
      {{ domain.acme | to_nice_yaml | indent(6) }}
{%     endfor %}
{%   endif %}
{% endif %}
